h1 {
    font-family: sans-serif;
    font-weight: 500;
}

h2 {
    margin: 15px;
}

h3 {
    font-family: sans-serif;
    font-weight: normal;
    text-decoration: underline;
}

.colors {
    margin: 0 auto;
}

.container {
    border: 1px solid black;
}

.container p {
    width: 150px;
    display: inline-block;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 2.4;
}

.blue {
    color: #fff;
    background-color: #2d5dcc;
    margin-left: 10px;
    padding: 15px 85px;
}

.pink {
    background-color: #d957d9;
    padding: 15px 85px;
}
.green {
    background-color: #4fe0b0;
    padding: 15px 85px;
}

.beige {
    background-color: #efd9ca;
    padding: 15px 85px;
    margin-left: 10px;
}

.fonts {
    border: 1px solid black;
    margin: 10px 0px;
}


.normal {
    font-family: sans-serif;
    font-size: 16px;
  }
  .bold {
    font-weight: 600;
    font-family: sans-serif;
    font-size: 16px;
  }
  .italic {
    font-style: italic;
    font-family: sans-serif;
    font-size: 16px;
  }
  
  .text-styles {
    border: 1px solid black;
  }
  
  .text-container {
    padding: 10px;
  }

  .nunito {
    width: 300px;
    position: absolute;
    left: 400px;
  }

  .fonts-container {
    margin-left: 10px;
  }